@model IEnumerable<DomainClass.PagesTB>
@{
    ViewData["Title"] = "سایت خبری امیر";
}

<!-- slider -->
<div class="news-slider border-radius">
    <div id="slider-one" class="owl-carousel">
        <!-- each item -->
        @foreach (var item in Model)
        {
            <div class="item">
                <img src="~/img/@item.ImageName">
                <div class="left-side">
                    <h2> <a href="/ShowNews/@item.PageID">@item.Title</a> </h2>
                    <p>
                        @item.ShortDescription
                    </p>
                    <span> <i class="fa fa-calendar"></i>انتشار : @Utilitis.DateConvertor.DateConvertor.ToShamsi(item.CreateDate)</span>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        <!-- end each item -->
    </div>
</div>
<!-- End slider -->
<!-- last news -->
<section class="last-news-section border-radius margin-top-60">
    <header><i class="icons icon-doc-2"></i>  <h3>آخرین آخبار ارسالی</h3> </header>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img class="border-radius" src="~/img/@item.ImageName">
                <h2><a href="/ShowNews/@item.PageID"> @item.Title </a></h2><br />
                <p> 
                    @item.ShortDescription
                </p>
                <br />
                <span ><i class="fa fa-calendar"></i>انتشار : @Utilitis.DateConvertor.DateConvertor.ToShamsi(item.CreateDate) </span>
                <span>بازدید : @item.Visist</span> | <span>پسند : @item.Like</span>
            </li>
        }

    </ul>
</section>
<!-- End last news -->
